.buttons {
    margin: 1rem;
}

.buttons button {
    margin: .5rem;
}

.button-delete {
    color: white;
    background-color: red;
}

form {
    float: left;
}

.dataItem {
    display: block;
    clear: both;
}
.label {
    float: left;
    margin: 1rem 0.5rem;
    width: 60px;
}

.value {
    float: left;
    margin: 1rem 0.5rem;
}