.buttons {
    margin: 1rem;
}

.buttons button {
    margin: .5rem;
}

.button-delete {
    color: white;
    background-color: red;
}

audio {
    vertical-align: middle;
}

.audio-player {
    padding: 1rem;
}

.audio-name{
    background-color: SteelBlue;
    padding: .5rem 1rem;
}
.audio-selected {
    background-color: LightSteelBlue;
}
.audio-unselected {
    background-color: LightGrey;
}

form {
    float: left;
}

.dataItem {
    display: block;
    clear: both;
}
.label {
    float: left;
    margin: 1rem 0.5rem;
    width: 60px;
}

.value {
    float: left;
    margin: 1rem 0.5rem;
}

.info {
    width: calc(100% - 250px);
    float: right;
}
